@use "../abstract/" as *;
@use "../base/" as *;

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  font-family: $font-primary;
  padding: 1rem 2rem;

  &.bg--primary {
    @extend .btn;
    background-color: $clr--primary;
    color: $clr--light;
    font-weight: 600;
    &:hover {
      border: 1px solid $clr--dark;
      background-color: $clr--light;
      color: $clr--dark;
    }
  }

  &.bg--secondary {
    @extend .btn;
    background-color: $clr--dark;
    color: $clr--light;
    font-weight: 600;
    &:hover {
      background-color: $clr--primary;
      color: $clr--light;
    }
  }
}
